.admin {
    position:relative;
    margin:-38px 0 30px;
    background:#ececec;
    padding:15px 0;
    border-top:none;
    border-bottom:1px solid #ccc;
    display:inline-block;
    z-index:1;
}
.admin ul {
    float: right;
    margin-right: 20%;
}
.admin li {
    text-transform: uppercase;
    padding-right:15px;
    border-left:1px solid #aaa;
    padding-left:15px;
}
.admin li:first-of-type {
    border-left:none;
}
.admin .fa {
    margin-left:3px;
}
.admin li a {
    color:#333;
}
.admin li a:hover {
    color:#f60;
    background:none;
}
.admin-nav a  {
  text-decoration: none;
  color: #0099ff;
  font-weight: 600;
}
.admin-nav a:hover {
  color: #ff6600;
  border-bottom: 1px dotted #ff6600;
}
.admin-nav li strong {
    margin-left:7px;
}
