.admin {
    position:relative;
    margin:-38px 0 30px;
    background:#ececec;
    padding:15px 0;
    border-top:none;
    border-bottom:1px solid #ccc;
    display:inline-block;
    z-index:1;
}
.admin ul.left {
    float: left;
    margin-left: 20%;
}
.admin ul.right {
    float: right;
    margin-right: 20%;
}
.admin .left li {
    text-transform: uppercase;
    padding-left:10px;
}
.admin .right li {
    text-transform: uppercase;
    padding-right:10px;
}
.admin .left .fa {
    margin-right:3px;
}
.admin .right .fa {
    margin-left:3px;
}
.admin li a {
    color:#333;
}
.admin li a:hover {
    color:#f60;
    background:none;
}
